@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 45px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.title {
  text-align: center;
}
.title h2 {
  font-size: 36px;
  color: #1b1b1b;
  font-weight: 300;
}
.title p {
  font-size: 18px;
  color: #333;
  max-width: 850px;
  margin: 0 auto;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
ul li {
  list-style: none;
}
header {
  background-image: url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}
header .app-showcase {
  text-align: right;
}

@media (max-width: 600px){
  header .app-showcase{
    display: none;
  }
}

header .block {
  padding-top: 0px;
}
header .block .logo {
  display: inline-block;
  margin-bottom: 30px;
}
header .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
header .block p {
  margin-bottom: 27px;
  margin-top: 0;
  color: #FFF;
}
header .block .download-btn a {
  display: inline-block;
  margin-right: 10px;
}
#service, #ads {
  padding: 80px 0 100px;
}
#service .title, #ads .title {
  padding-bottom: 90px;
}
#service .title h2, #ads .title h2 {
  margin-top: 0;
  font-size:  48px;
  color: #3083df;
}
#service .block {
  text-align: center;
}
#service .block h3, #ads {
  color: #333;
  line-height: 48px;
  margin-bottom: 0;
  text-align: left;
  font-weight: bold;
  font-size: 21px;
}
#service .block p {
  color: #333;
  line-height: 20px;
  text-align: left;
  font-size: 14px;
  margin-bottom: 20px;
}
#service .block ul{
  text-align: left;
  border-left: 3px solid #CCC;
  padding-left: 20px;
}
#service .block ul li{
  font-size: 14px;
  color:  #333;
}
#showcase {
  background-image: url("../images/showcase-bg.jpg");
  background-size: cover;
  baxkground-repeat: no-repeat;
}
#showcase .block {
  padding-top: 90px;
}
#showcase .block img {
  margin-bottom: -228px;
}
#feature {
  padding: 325px 0 105px 0;
  background: #2c85e9;
}
#feature .title {
  margin-bottom: 60px;
}
#feature .title h2{
  color:  #FFF;
  font-size: 48px;
}
#feature .title p{
  color:  #333;
  font-weight: normal;
}
#feature .block .media {
  margin-bottom: 33px;
}
#feature .block .media:last-child {
  margin-bottom: 0;
}
#feature .block .media h4 {
  color: #FFF;
  font-weight: 600;
  font-size: 21px;
}
#feature .block .media p {
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
#feature .block .media > .pull-left {
  padding-right: 20px;
}
#testimonial {
  background: url('../images/testimonial-bg.jpg') no-repeat;
  background-size: cover;
  padding: 100px 0 30px;
}
#testimonial .block {
  text-align: center;
}
#testimonial .block h5 {
  text-align: left;
  color: #fff;
  display: inline-block;
  font-size: 34px;
  margin-bottom: 20px;
}
#testimonial .block .name{
  text-align: left;
  color:  #FFF;
  font-size: 18px;
  font-weight: bold;
}
#testimonial .block h5 span {
  font-size: 12px;
}
#team {
  padding: 80px 0 90px 0;
}
#team .title {
  margin-bottom: 50px;
}
#team .social-link {
  margin-top: 15px;
}
#team .social-link a {
  display: inline-block;
}
#team .btn-facebook {
  background: #6788ce;
  color: #fff;
  border-radius: 50%;
  padding: 9px 14px;
  font-size: 17px;
  line-height: 1;
  margin-right: 5px;
}
#team .btn-twitter {
  background: #29c5f6;
  color: #fff;
  border-radius: 50%;
  padding: 8px 9px;
  font-size: 20px;
  line-height: 1;
}
#team .media .pull-left {
  padding-right: 25px;
}
#team .media .media-heading {
  margin-top: 35px;
  font-size: 21px;
}
#team .media p {
  font-size: 16px;
  color: #707b82;
}
.logo-footer-box{
  margin-top: 50px;
  border-top:  1px solid #FFF;
  padding-top: 30px;
}
footer {
  padding: 20px 0;
  background: #fafafa;
  border-top: 1px solid #d7d7d7;
}
footer .navbar-nav {
  float: none;
  display: inline-block;
}
footer .navbar-nav li a {
  font-size: 20px;
  font-weight: normal;
}
footer .navbar-default .navbar-nav > li > a {
  color: #989898;
  padding: 20px 25px;
}
footer .social-link ul {
  margin-bottom: 0;
}
footer .social-link ul li {
  display: inline-block;
}
footer .social-link ul li a {
  color: #cccccc;
  font-size: 25px;
  padding: 0 5px;
  display: inline-block;
}

footer .logo-footer{
  margin:  0 auto;
  display:  block;
  width:  130px;
}

.contato a{
  color: #83daf4;
  display: block;
  font-weight: bold;
  font-size: 19px;
  text-decoration: none;
}

.contato a:hover{
  color:  #FFF;
}

.contato p{
  display: block;
}

.contato p:first-child{
  margin: 20px 0px 0px;
}
