.navbar-default {
    background-color: #3a95f2;
    border-color: #3a95f2;
    border-radius: 0;
}
.navbar-brand {
    height: 57px;
}
.logo {
    background: url('/logo.png') 0 0 no-repeat;
    background-position: 0 -28px;
    width: 96px;
    height: 28px;
}
